<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CarRentalManagementDBConnectionString" connectionString="Data Source=LAPTOP-S9QF07GU\MSSQLSERVER01;Initial Catalog=Kelem_UAT;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages maintainScrollPositionOnPostBack="true"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="341048526"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Gallery.aspx"/>
    </authentication>
    <authorization>
      <allow users="*"/>
      <allow users="?"/>
    </authorization>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" connectionStringName="CarRentalManagementDBConnectionString" applicationName="/" type="FYP_CarRentalSystem.Logic.CustomRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>